<h1>
  {{title}}
</h1>

Móviles:
<ul>
  <li *ngFor="let phone of phones; let i = index">
    <h1 appHighlight>ID: {{i}}</h1>
    <h2>{{phone.brand | uppercase}} {{phone.name | copyright}}</h2>

    <ng-container *ngIf="phone.screen">
      <p>Pantalla: {{phone.screen}}</p>
      <p>Tipo pantalla: {{phone.screen > 6.4 ? 'Phablet' : 'Móvil'}}</p>
    </ng-container>

    <p>Fecha de lanzamiento: {{phone.releaseDate | date: 'dd/MM/yyyy'}}</p>

    <p [ngClass]="{'grey': !phone.offer, 'offer': phone.offer }">
      Precio: {{phone.price | currency:'EUR':'symbol':'1.2-2':'es-ES'}}
      <b *ngIf="phone.offer">¡Oferta!</b>
    </p>

    <p [hidden]="phone.inStock">Disponible</p>
    <p [hidden]="!phone.inStock">Sin stock</p>

    <img [src]="'assets/phones/'+ phone.image">
  </li>
</ul>
